header {
    display: flex;
    height: 250px;
    width: 100%;
    background-image: url(https://mblogthumb-phinf.pstatic.net/MjAxNjEyMThfMjkz/MDAxNDgyMDY3ODg4ODIw.zFn3DuP_Mtm5NGc9UoKPldG148RN7zMXxc8T8ETiIHkg.JIQQhYbVC6lERbkZgFNUMshy3XLO_-_WX7uECduU2M4g.JPEG.tsslove/20161218_222243.jpg?type=w800);
    background-size: cover;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #FFFBE9;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    
}

/* main {
    height: 1600px;
} */

main h2 {
    text-align: center;
    font-size: 25px;
    padding-top: 100px;
    font-weight: bold;
    font-family: 'Noto Serif KR', serif;
}

.kr {
    font-family: 'Noto Serif KR', serif;
}

.kr h4 {
    font-weight: bold;
}

main h3 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 100px;
}

.rink {
    display: flex;
    flex-direction: column;
    border: 1px dotted #FFC0D3;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    padding-left: 30px;
}

.rink li {
    list-style-image: url(https://icons.getbootstrap.com/assets/icons/book.svg);
}

a:hover {
    opacity: 1;
    background-color: #EEEEEE;
    border-radius: 5px;
}

a {
    display: inline-block;
    padding: 10px;
    opacity: 0.7;
    font-family: 'Noto Serif KR', serif;
}

h4 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

p {
    padding-bottom: 15px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.sub {
    height: 300px;
    background-image: url(https://mblogthumb-phinf.pstatic.net/MjAxNjEyMThfMjkz/MDAxNDgyMDY3ODg4ODIw.zFn3DuP_Mtm5NGc9UoKPldG148RN7zMXxc8T8ETiIHkg.JIQQhYbVC6lERbkZgFNUMshy3XLO_-_WX7uECduU2M4g.JPEG.tsslove/20161218_222243.jpg?type=w800);
    background-size: cover;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
    width: 100%;
}

.sub header {
    background-image: none;
}

.sub header .header {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;

}

.sub h2 {
    font-family: 'Montserrat', sans-serif;
}


/* トップページ */
.head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    z-index: 10;
    /* background-color: #FFFBE9; */
    position: fixed;
    top: 0;
    right: 0;
}

.head h2 {
    height: 100%;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    color: #F68989;
}

.right {
    margin-right: 10px;
}

.right a {
    height: 100%;
    color: #F68989;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 125px;
    text-align: center;
    font-family: none;

}

.back {
    height: 100vh;
    background-image: url(https://mblogthumb-phinf.pstatic.net/MjAxNjEyMThfMjkz/MDAxNDgyMDY3ODg4ODIw.zFn3DuP_Mtm5NGc9UoKPldG148RN7zMXxc8T8ETiIHkg.JIQQhYbVC6lERbkZgFNUMshy3XLO_-_WX7uECduU2M4g.JPEG.tsslove/20161218_222243.jpg?type=w800);
    background-size: cover;
    /* width: 80%; */
    margin: 0 auto;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
    width: 100%;

}

.back header {
    background-image: none;
}

.back header .header {
    display: flex;
    align-items: center;
    margin-top: 300px;
    font-size: 60px;
    font-weight: bold;

}

.back h2 {
    font-family: 'Montserrat', sans-serif;
}

.description {
    width: 40%;
    margin: 0 auto;
    
}

.description h5 {
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-left: 10px;
    border-left: 5px solid #F68989;
}

.description li {
    list-style-type: square;
}

#top {
    background-color: #FFFBE9;
}

#toplist {
    padding-left: 20px;
}

/* タブレットページ */
@media (min-width: 670px) and (max-width: 1000px) {
    .back , .sub {
        width: 100%;
        background-position: 60% 75%;
        background-color: rgba(255,255,255,0.5);
        background-blend-mode: lighten;
    }

    .back {
        height: 600px;
    }

    .description {
        width: 50%;
    }

    .head {
        background: none;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .rink {
        width: 80%;
    }
    
    .kr , .ja {
        width: 40%;
        margin-top: 80px;
    }
}

/*  スマホページ*/
@media (max-width: 670px) {
    .head {
        display: flex;
        flex-direction: column;
        position: static;
        background: none;
    }

    .header h2 {
        display: none;
    }

    .right {
        display: flex;
        flex-direction: column;
    }

    .right a {
        text-align: left;
    }

    .back , .sub {
        width: 100%;
        background-position: 60% 75%;
        background-color: rgba(255,255,255,0.5);
        background-blend-mode: lighten;
    }

    .description {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    main h2 {
        font-size: 17px;
    }

    main h3 {
        font-size: 13px;
        margin-bottom: 50px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .kr {
        margin-top: 50px;
    }

    .ja {
        margin-top: 50px;

    }
}

